.photoViewer {
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;

  position: fixed;
  top: 0;
  right: 0;
  z-index: 99999;
  background-color: rgba($color: #000000, $alpha: 0.6);
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  &__img {
    width: 90%;
    height: 90%;
    object-fit: contain;
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;

    width: 45px;
    height: 45px;

    padding: 5px;

    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 3px 8px 2px rgba(0, 0, 0, 0.6);
    border: none;
  }

  &__close img {
    width: 30px !important;
    height: 30px !important;
  }
}

.photoViewer.photoViewer--active {
  opacity: 1;
  pointer-events: all;
}
