.audioLock {
  position: absolute;
  right: 39px;
  top: -150px;
  transform: translateX(100vw);
  width: 35px;
  height: 110px;

  transition: all 0.3s;

  &__inner {
    background-color: #fff;

    max-height: 110px;
    min-height: 33%;
    height: 100%;

    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 3px 10px 3px;

    &-img {
      width: 23px;
      height: 23px;
      margin-top: 3px;
    }

    &-img:nth-child(2) {
      width: 15px;
      height: 15px;
    }
  }
}

.audioLock.audioLock--active {
  transform: translateX(0);
}

.audioLock.audioLock--locked {
  top: -70px;
}

.audioLock.audioLock--locked .audioLock__inner-img {
  margin-top: 1px;
}
