.chat {
  display: flex;
  height: 100vh;
  width: calc(100% - 70px);
  margin-left: auto;

  // .chat__aside

  &__aside {
    padding: 30px 20px;

    max-width: 40%;
    min-width: 300px;

    background-color: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.55);
    border-right: 1px solid #dbdbdb;

    resize: horizontal;
    overflow: auto;

    transition: all 0.3s;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &-title {
      font-size: 17px;
      font-weight: 800;
    }

    &-top {
      position: relative;
      width: 0%;
      margin-left: 40px;
      transition: all 0.4s;
    }

    &-top.active {
      width: 100%;
      margin-left: 0;
    }

    &-top.active &-top__search {
      border-radius: 30px;
      background-color: #f0f2f5;
      outline: #131212;
    }

    &-top.active &-top__btn {
      right: 10px;
    }

    &-top__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    }

    &-top__search {
      width: 100%;
      border: none;
      padding: 13px 45px 13px 20px;
      outline: none;

      transition: all 0.4s;

      background-color: transparent;
      color: #292b2e;
      font-size: 15px;

      &::placeholder {
        font-size: 13px;
      }
    }

    &-top__btn {
      width: 34px;
      height: 24px;
      background-color: transparent;
      border: none;

      transition: all 0.4s;

      position: absolute;
      right: 0;

      cursor: pointer;
    }

    &-back {
      display: block;
      width: 25px;
      height: 25px;
    }

    &-back img {
      width: 100%;
      height: 100%;
    }
  }

  &__aside.chat__aside--hidden {
    transform: translateX(-100%);
  }

  // .chat__aside-list

  &__aside-list {
    margin-top: 30px;
  }

  // .chat__aside-item

  &__aside-item {
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin-bottom: 15px;
    cursor: pointer;
  }

  &__aside-item__content {
    max-width: 260px;
  }

  &__aside-item__name {
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 5px;
    font-weight: 500;
    display: block;
  }

  &__aside-item__message {
    color: rgba(0, 0, 0, 0.55);
    font-size: 13px;
    line-height: 16px;
  }

  &__aside-item__img {
    min-width: 65px;
    width: 65px;
    height: 65px;
    border-radius: 100%;
    object-fit: cover;
  }
}
.chat-body {
  background: #fff;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;

  &__head {
    gap: 0 20px;

    border-bottom: 1px solid #dbdbdb;
    padding: 15px 30px 15px 30px;
    background: #fff;
  }

  &__head-wrapper {
    display: flex;
    gap: 0 20px;
    align-items: center;
  }

  &__head-info__content {
    cursor: pointer;
  }


  &__head-info {
    display: flex;
    align-items: center;
    gap: 0 20px;
  }

  &__head-img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 5px;
  }

  &__head-arrow {
    display: none;
  }

  &__head-name {
    font-size: 19px;
    line-height: 21px;
  }

  &__head-status {
    font-size: 15px;
    display: flex;
    align-items: center;
  }

  &__head-name {
  }

  &__wrapper {
    height: calc(100% - 116px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  // .chat-body__inner

  &__inner {
    position: relative;
    flex-basis: auto;
    flex-grow: 1;
    height: calc(100% - 48px);
    padding: 10px 0;
  }

  // .chat-body__messages

  &__messages {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;
    padding-right: 10px;
  }

  &__messages::-webkit-scrollbar {
    width: 5px; /* Ширина всего элемента навигации */
  }

  &__messages::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1); /* Цвет дорожки */
  }

  &__messages::-webkit-scrollbar-thumb {
    background-color: rgba(132, 0, 255, 0.5); /* Цвет бегунка */
    border-radius: 20px; /* Округление бегунка */
  }

  // .chat-body__message

  &__message {
    color: #131212;

    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.1);
    background-color: #efefef;

    border-radius: 17px;
    border-bottom-left-radius: 0;

    min-height: 40px;
    min-width: 90px;
    max-width: 500px;
    width: fit-content;

    padding: 10px 10px 16px 13px;
    margin-left: 10px;
    margin-bottom: 14px;

    word-break: break-all;

    position: relative;
  }

  &__message.self {
    background-color: #3797f0;
    color: #fff;
    border-bottom-left-radius: 17px;
    border-bottom-right-radius: 0;
    margin-left: auto;
  }

  &__message.file {
    background-color: transparent;
    box-shadow: none;
    margin-left: 0;
  }

  &__message.file.self {
    margin-left: auto;
  }

  &__message-text {
    font-size: 16px;
    margin-right: 10px;
  }

  &__message-time {
    font-size: 10.8px;
    position: absolute;
    color: rgba(0, 0, 0, 0.55);
    bottom: 3px;
    right: 12px;
  }

  &__message.file &__message-time {
    color: #989898 !important;
    bottom: -7px;
    right: 32px;
  }

  &__message-play {
    background-color: #5088df;
    padding: 5px;
    border-radius: 100%;

    border: none;

    min-width: 30px;
    width: 30px;
    height: 30px;
  }

  &__message-play.self {
    background-color: #fff;
  }

  &__message-play img {
    pointer-events: none;
  }

  .play {
    display: block;
    transform: translateX(1px);
  }

  .pause {
    display: none;

    transform: translateX(0);
  }

  &__message-play.active .pause {
    display: block;
  }

  &__message-play.active .play {
    display: none;
  }

  &__message.self &__message-time {
    color: rgb(255 255 255 / 55%);
  }

  .fallDown {
    transform: translateX(20px);
    animation: fallDown 0.3s forwards 1;
  }

  @keyframes fallDown {
    0% {
      transform: translateY(40px);
    }

    100% {
      transform: translateY(0);
    }
  }

  // .chat-body__form

  &__form {
    width: 100%;
    margin: 0px 15px 0 15px;
    position: relative;
    transform: translateY(-20%);
  }

  // .chat-body__form-inner

  &__form-inner {
    display: flex;
    align-items: center;
    max-height: 50px;
  }

  &__form-file {
    background-color: #fff;
    border-radius: 8px;
    border: none;
    position: relative;
    top: 0;
    left: -5px;
    z-index: 10;

    width: 48px;
    height: 48px;

    padding: 5px 5px 5px 10px;

    cursor: pointer;
  }

  &__form__btn-img {
    width: 85%;
    object-fit: contain;
  }

  &__form-input {
    padding: 10px 15px;
    border: 1px solid #dbdbdb;
    border-radius: 50px;
    font-size: 17px;
    font-weight: 300;
    width: 100%;
    font-weight: 400;
    color: #292727;

    outline: none;

    position: relative;
    z-index: 2;

    &::placeholder {
      font-size: 14px;
      color: #272b2eb2;
    }
  }

  &__form-submit {
    background-color: transparent;
    border: none;
    position: relative;
    top: -10px;
    left: -42px;
    z-index: 10;

    padding: 0;

    width: 30px;

    transform: translateY(11px);
  }

  &__form-submit img {
    background-color: transparent;
    border: none;
  }

  &__confirm-file {
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin-bottom: 25px;
  }

  &__confirm-file__img {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #0095f6;
    border-radius: 100%;
  }

  &__confirm-file__size {
    font-size: 13px;
    font-weight: 300;
    color: #a0acb6;
  }

  &__confirm-wrapper {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }

  &__confirm-btn {
    width: fit-content;
    font-size: 14px;
    padding: 6px 10px;
    border: none;
    border-radius: 7px;
    background-color: #0095f6;
    color: #fff;
    cursor: pointer;
  }
}
.danger {
  background-color: #f6004a;
}

.chat::selection {
  background-color: transparent;
  color: transparent;
}
