.aside {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  min-width: 70px;
  width: 6%;
  height: 100vh;

  transition: all 0.3s;

  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #dbdbdb;

  &__inner {
    margin-bottom: auto;
  }

  &__img {
    width: 143px;
  }

  // .aside__footer

  &__footer {
    margin-bottom: 30px;
    padding-top: 18px;
  }

  // .aside__footer-btn

  &__footer-btn {
    position: relative;
    margin-left: 20px;
    font-size: 19px;
    font-weight: 300;

    background-color: transparent;
    border: none;
    display: inline-block;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -31px;
      width: 27px;
      height: 27px;
      background-image: url("../../assets/icons/logout.svg");
    }
  }
}

.logo {
  &__wrapper {
    width: 100%;
    margin-top: 25px;
    margin-bottom: 60px;

    display: flex;
    justify-content: center;
  }
}
.menu {
  // .menu__list
  width: 100%;

  &__list {
    width: fit-content;
  }

  // .menu__list-item

  &__list-item {
    padding-bottom: 30px;

    cursor: pointer;

    font-size: 15px;
    font-weight: 500;

    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__list-item__img {
    width: 27px;
    height: 27px;
  }

  // .menu__list-link

  &__list-link {
    display: flex;
    align-items: center;
    gap: 0 10px;
  }
}
.menu__list-item__text {
  display: none;
}

.aside.aside--active {
  padding-left: 30px;
  width: 15%;
  align-items: flex-start;
}

.aside.aside--active .menu__list-item__text {
  display: block;
}

.aside.aside--active .logo__wrapper {
  justify-content: flex-start;
}
