.postModal {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;

  &__form-inner {
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  // .postModal__input

  &__input {
    margin: 20px 0;
  }

  &__preview {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &-wrapper {
      display: flex;
      align-items: center;
    }

    &-icon {
      width: 100px;
      height: 100px;
    }

    &-img {
      max-width: 720px;
      max-height: 400px;
      align-self: center;
    }

    &-filebtn {
      width: 180px;
      font-size: 13px;
      padding: 6px 10px;
      border: none;
      border-radius: 7px;
      background-color: #0095f6;
      color: #fff;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__send {
    width: fit-content;
    font-size: 13px;
    padding: 10px 10px;
    border: none;
    border-radius: 7px;
    background-color: #0095f6;
    color: #fff;
    cursor: pointer;

    position: absolute;
    bottom: 0;
    right: 0;
  }
}
.input {
}
